.react-grid-layout {
  --resize-handler-size: 8px;
  --outline-hover: 1px solid var(--mui-palette-primary-light);
  --outline-focus: 1px solid var(--mui-palette-primary-main);
  --background-grid: var(--mui-palette-background-paper);
  --background-placeholder: var(--mui-palette-greyscale-offwhite-dark);
}

.react-grid-layout {
  position: relative;
  min-height: 700px;
}

.react-grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 4px;
}

.react-grid-item-hovered:hover {
  outline: var(--outline-hover);
  cursor: pointer;
}

.react-grid-item-focused:not(.react-grid-placeholder) {
  outline: var(--outline-focus);
}

.react-grid-item > *:first-child {
  min-width: 0;
  min-height: 0;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  flex: 1;
}

/* Placeholder */
.react-grid-item.react-grid-placeholder {
  background: var(--background-placeholder);
  z-index: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* Resizing */
.react-grid-item.resizing ~ .react-grid-item.react-grid-placeholder,
.react-grid-item.resizing > *:first-child {
  visibility: hidden;
}

.react-grid-item.resizing {
  background: var(--background-placeholder);
}

/* Dragging */
.react-grid-item.react-grid-item-dragging {
  opacity: 0;
}

.react-grid-item.react-grid-item-dragging ~ .react-grid-item.react-grid-placeholder {
  outline: var(--outline-focus);
}

/* Resizeable Handles */
.react-grid-item > .react-resizable-handle {
  visibility: hidden;
}

.react-grid-item-focused:not(.react-grid-item-dragging) > .react-resizable-handle {
  visibility: visible;
}

.react-grid-item > .react-resizable-handle-se {
  position: absolute;
  width: var(--resize-handler-size);
  height: var(--resize-handler-size);
  outline: var(--outline-focus);
  background: var(--background-grid);
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle-se:hover,
.react-grid-item > .react-resizable-handle-se:focus {
  background: var(--mui-palette-primary-light);
}

.react-grid-item > .react-resizable-handle-s {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--resize-handler-size);
  transform: translate(0, 50%);
  cursor: s-resize;
}

.react-grid-item > .react-resizable-handle-e {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: var(--resize-handler-size);
  transform: translate(50%, 0);
  cursor: e-resize;
}

/* Error */
.react-grid-item-error {
  background: rgba(var(--mui-palette-error-lightChannel) / 0.2);
}
